<div style="margin:0;padding:0">
  <div class="nav">
    <div class="nav-header">
      <div class="nav-title">
        Menu
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="nav-links">
      <a routerLink="/student" routerLinkActive="active">Students</a>
      <a routerLink="/addstudent" routerLinkActive="active">Add Student</a>
    </div>
  </div>
</div>

